@import "../../assets/variables";
.container{
  width: 100%;
  height: 100vh;
  @include flexCenterCenter;
}

.tabView{
  width: 375px;
  height: 500px;
}

.tabView > div{
  padding: 0 !important;
}

.tabPanelHeader{
  width: 50%;
}

.tabPanelHeader > a{
  @include flexCenterCenter;
  padding: 13px 0 !important;
}

.tabPanelHeader > a > span{
  font-size: 14px;
  line-height: 20px;
}

.tabPanelContent{
  padding-top: 40px;
}
