.label{
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333F51;
  user-select: none;
}

.labelRequired{
  position: relative;
  display: inline-block;
  &::after{
    content: "*";
    position: absolute;
    top: 0;
    right: -10px;
    color: #EF5944
  }
}

.inner{
  width: 100%;
}

.input{
  height: 46px;
  width: 100%;
}

.input > input{
  height: 46px;
  width: 100%;
}

.inputError{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #EF5944;
  margin-top: 2px;
}