.inner{
  margin-top: 24px;
}

.checkboxInner{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox{
  margin-right: 12px;
}

.checkboxLabel{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2A3342;
}
